<div class "page-header"></div>
<h1> Home </h1>
	<p>
	<%= link_to "New Text Post", new_text_post_path, class: "btn btn-default" %>
        <%= link_to "New Image Post", new_image_post_path, class: "btn btn-default" %>
</p>

<%= render @posts %>

<%= will_paginate @posts %>